{% extends 'base.html' %}

{% block title %}Home {% endblock title %}

{% block head %}

{% endblock head %}

{% block body %}

  <div class="dark:text-gray-50 py-6 sm:py-8 lg:py-12">
    <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
      
      <div class="mb-10 md:mb-16">
        <h2 class="text-gray-800 dark:text-gray-200 text-2xl lg:text-3xl font-bold text-center mb-4 md:mb-6">Blogs </h2>
      </div>
      
      <div class="grid sm:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-4 md:gap-6 xl:gap-8">
        {% for blog in blogs %}
        
        <div class="flex flex-col bg-gray-100 shadow  dark:bg-gray-900 border-2 dark:border-gray-700 rounded-lg overflow-hidden">
          <a href="{% url 'blog' blog.user.user.username blog.slug  %}" class="group h-48 md:h-64 block bg-gray-100 overflow-hidden relative">
            <img src="/media/{{ blog.image }}" loading="lazy" alt="{{blog.title}}" class="w-full h-full  object-cover object-center absolute inset-0 group-hover:scale-110 hover:opacity-90 transition duration-200" />
          </a>
  
          <div class="flex flex-col flex-1 p-4 sm:p-6">
            <h2 class="text-gray-800 dark:text-gray-200 text-lg font-semibold mb-2">
              <a href="{% url 'blog' blog.user.user.username blog.slug  %}" class="hover:text-green-500 active:text-green-600 transition duration-100">{{ blog.title }}</a>
            </h2>
  
            <p class="text-gray-500 dark:text-gray-300 mb-8">{{ blog.description }}</p> 
  
            <div class="flex justify-between items-end  mt-auto">
              <div class="flex items-center gap-2">

                <div class="w-10 h-10 shrink-0 bg-gray-100 rounded-full overflow-hidden">
                  <img src="/media/{{blog.user.profilePic}}" loading="lazy" alt="Photo by Brock Wegner" class="w-full h-full object-cover object-center" />
                </div>
  
                <div>
                  <a href="/@{{blog.user.user.username}}">
                  <span class="block text-green-500">{{ blog.user.user.username }}</span>
                </a>
                  <span class="block text-gray-400 text-sm">{{ blog.created_at }}</span>
                </div>
              </div>
  
              <span class="text-gray-500 text-sm border dark:border-gray-600 dark:text-gray-300  rounded px-2 py-1">Article</span>
            </div>
          </div>
        </div>
        
        {% endfor %}
       
      </div>
    </div>
  </div>
  <div class="w-full bg-white dark:bg-gray-900">
    <div class="container flex flex-col items-center px-6 py-5 mx-auto space-y-6 sm:flex-row sm:justify-between sm:space-y-0 ">
      <div class="-mx-2">
        
        {% if blogs.has_previous %}
        <a class='inline-flex items-center justify-center px-4 py-1 mx-2 text-gray-700 transition-colors duration-300 transform rounded-lg hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700' href="?page=1"> First</a>
        <a class='inline-flex items-center justify-center px-4 py-1 mx-2 text-gray-700 transition-colors duration-300 transform rounded-lg hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700'  href="?page={{ blogs.previous_page_number }}"><i class="fa-solid fa-chevron-left px-2 py-1 "></i></a>
        {% endif %}
        
        {% if blogs.has_next %}
        <a class='inline-flex items-center justify-center px-4 py-1 mx-2 text-gray-700 transition-colors duration-300 transform rounded-lg hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700'  href="?page={{ blogs.next_page_number }}"><i class="fa-solid fa-chevron-right px-2 py-1"></i></a>
        <a class='inline-flex items-center justify-center px-4 py-1 mx-2 text-gray-700 transition-colors duration-300 transform rounded-lg hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700' href="?page={{ blogs.paginator.num_pages }}">Last</a>
        {% endif %}
      </div>
      <div class="text-gray-500 dark:text-gray-400">
        <span class="font-medium text-gray-700 dark:text-gray-100">Page {{ blogs.number }}</span> of {{ blogs.paginator.num_pages }} records
      </div>
    </div>
  </div>


{% endblock body %}