{% extends 'dashboard/base.html' %}
{% load extras %}
{% block body %}
<div class="container mx-auto px-6 py-8">
    <h3 class="text-gray-700 text-3xl font-medium">Articles</h3>
    <div class="mt-4">
        <div class="flex flex-wrap -mx-6">
            <div class="w-full px-6 sm:w-1/2 xl:w-1/3">
            <div class="flex items-center px-5 py-6 shadow-sm rounded-md bg-white">
                <div class="p-3 rounded-full bg-indigo-600 bg-opacity-75">
                    <i class="fa-sharp fa-regular fa-newspaper text-white text-3xl"></i>
                </div>
                <div class="mx-5">
                <h4 class="text-2xl font-semibold text-gray-700">{{count}}</h4>
                <div class="text-gray-500">Total Blogs</div>
                </div>
            </div>
            </div>
            <div class="w-full mt-6 px-6 sm:w-1/2 xl:w-1/3 sm:mt-0">
            <div class="flex items-center px-5 py-6 shadow-sm rounded-md bg-white">
                <div class="p-3 aspect-square rounded-full bg-orange-600 bg-opacity-75">
                    <i class="text-white text-3xl fa-solid fa-user"></i>
                </div>
                <div class="mx-5">
                <h4 class="text-2xl font-semibold text-gray-700">{{subscribers.count}}</h4>
                <div class="text-gray-500">Total Subscribers</div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div> 
<div class='overflow-x-scroll'>
<table class="table-auto divide-y w-full divide-gray-200">
    <thead class="bg-gray-50">
      <tr>
        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Blog Title</th>
        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Date</th>
        <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">Status</th>
        <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">Comments</th>
        <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">Actions</th>
      </tr>
    </thead>
    <tbody class="bg-white ">
        {% for post in posts %}
        
      <tr class="hover:bg-gray-100 transition duration-150">
        <td class="px-6 py-4 whitespace-nowrap">
          <div class="md:text-lg text-base font-medium text-gray-900">{{post.title}}</div>
        </td>
        <td class="px-6 py-4 whitespace-nowrap">
          <div class=" md:text-base text-sm text-gray-500">{{post.updated_at}}</div>
        </td>
        <td class="px-6 py-4 whitespace-nowrap">
          <div class=" md:text-base text-sm text-gray-500 text-center">{{post.get_status_display}}</div>
        </td>
        <td class="px-6 py-4 whitespace-nowrap">
          <div class=" md:text-base text-sm text-gray-500 text-center">{{post|getcommentsCount}}</div>
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center">
          <a target='_blank' href="{% url 'update' user.username post.slug %}" class="inline-flex items-center px-3 py-2 border border-transparent  leading-4 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            <span class="sr-only">Edit</span>
            <i class="fas fa-pencil-alt"></i>
          </a>
          <a target='_blank' href="{% url 'blog' user.username post.slug %}" class="inline-flex items-center px-3 py-2 border border-transparent  leading-4 font-medium rounded-md text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
            <span class="sr-only">View</span>
            <i class="far fa-eye"></i>
          </a>
          <a  href="{% url 'delete' user.username post.slug %}" onclick="return confirm('Are you sure to delete {{post.title}}')" class="inline-flex items-center px-3 py-2 border border-transparent  leading-4 font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">
            <span class="sr-only">Delete</span>
            <i class="fas fa-trash-alt"></i>
          </a>
        </td>
      </tr>
      {% endfor %}
      <!-- Repeat this table row for each blog post -->
    </tbody>
  </table>

    <div class="w-full flex justify-center  gap-4 items-center p-3 m">
        {% if posts.has_previous %}
            <a class='btn' href="?page=1"> First</a>
            <a class='btn'  href="?page={{ posts.previous_page_number }}"><i class="fa-solid fa-chevron-left"></i></a>
        {% endif %}
        <span class="current">
            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
        </span>
        {% if posts.has_next %}
            <a class='btn'  href="?page={{ posts.next_page_number }}"><i class="fa-solid fa-chevron-right"></i></a>
            <a class='btn' href="?page={{ posts.paginator.num_pages }}">Last</a>
        {% endif %}
    </div>

  </div>
  

  

         
  
{% endblock body %}